Repository CoforgeInsurance/Kanban-XP-DevProcess, changes with the owners that CODEOWNERS names for each.
All owners: @CoforgeInsurance/dev-team, @CoforgeInsurance/devops-team, @CoforgeInsurance/tech-writers, @CoforgeInsurance/engineering-leads

CODEOWNERS:

# CODEOWNERS file
# 
# This file defines who owns which parts of the codebase.
# Code owners are automatically requested for review when someone opens a PR that modifies code they own.
#
# Syntax: path/to/file @github-username @github-org/team-name
#
# Learn more: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo
# Replace with actual team/usernames
* @CoforgeInsurance/dev-team

# Workflow and CI/CD configuration
/.github/ @CoforgeInsurance/devops-team

# Documentation
*.md @CoforgeInsurance/tech-writers @CoforgeInsurance/dev-team

# Process documentation - requires lead approval
/DEVELOPMENT_PROCESS.md @CoforgeInsurance/engineering-leads
/CONTRIBUTING.md @CoforgeInsurance/engineering-leads

# Example ownership patterns (uncomment and customize as needed):
# /src/frontend/ @CoforgeInsurance/frontend-team
# /src/backend/ @CoforgeInsurance/backend-team
# /src/api/ @CoforgeInsurance/api-team
# /tests/ @CoforgeInsurance/qa-team
# /docs/ @CoforgeInsurance/tech-writers

Add comprehensive setup guide for manual configuration steps
  SETUP_GUIDE.md
Owners: @CoforgeInsurance/tech-writers, @CoforgeInsurance/dev-team

feat: Add agent-first development process guide
  AGENT_FIRST_PROCESS.md
  README.md
  SETUP_GUIDE.md
Owners: @CoforgeInsurance/tech-writers, @CoforgeInsurance/dev-team

feat: Add comprehensive GitHub Actions automation
  .github/WORKFLOWS.md
  .github/workflows/agent-pr-metrics.yml
  .github/workflows/auto-approve-agent.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/stale-cleanup.yml
  .github/workflows/weekly-metrics.yml
  README.md
Owners: @CoforgeInsurance/tech-writers, @CoforgeInsurance/dev-team, @CoforgeInsurance/devops-team

docs: Add automation review summary
  AUTOMATION_REVIEW.md
Owners: @CoforgeInsurance/tech-writers, @CoforgeInsurance/dev-team

feat: Setup Ancient Wisdom API project structure
  .github/ISSUE_TEMPLATE/feature.yml
  .github/workflows/ci.yml
  ARCHITECTURE.md
  README.md
Owners: @CoforgeInsurance/devops-team, @CoforgeInsurance/tech-writers, @CoforgeInsurance/dev-team

feat: Add issue dependency tracking and domain layer templates
  .issue-templates/ISSUE-001-solution-setup.md
  .issue-templates/ISSUE-009-quotes-stoicism.md
  .issue-templates/ISSUE-010-quotes-vedanta.md
  .issue-templates/ISSUE-011-philosopher-bios.md
  .issue-templates/ISSUE-012-timeline-events.md
  .issue-templates/ISSUE-017-domain-entities.md
  .issue-templates/ISSUE-073-quotes-cynicism.md
  .issue-templates/ISSUE-DEPENDENCY-MAP.md
Owners: @CoforgeInsurance/tech-writers, @CoforgeInsurance/dev-team

feat: Add auto-assignment workflow and issue management strategy
  .github/workflows/auto-assign-copilot.yml
  ISSUE_MANAGEMENT_STRATEGY.md
Owners: @CoforgeInsurance/devops-team, @CoforgeInsurance/tech-writers, @CoforgeInsurance/dev-team

feat: Create all 85 GitHub issues with batch creation scripts
  .github/scripts/create-all-remaining-issues.ps1
  .github/scripts/create-api-advanced-testing-issues.ps1
  .github/scripts/create-application-issues.ps1
  .github/scripts/create-final-issues.ps1
  .github/scripts/create-frontend-deployment-issues.ps1
  .github/scripts/create-remaining-issues.ps1
  ISSUE_CREATION_SUMMARY.md
Owners: @CoforgeInsurance/devops-team, @CoforgeInsurance/tech-writers, @CoforgeInsurance/dev-team

fix: Configure Copilot agent firewall rules to prevent timeouts
  .github/copilot-firewall-config.md
  .github/copilot.yml
Owners: @CoforgeInsurance/tech-writers, @CoforgeInsurance/dev-team, @CoforgeInsurance/devops-team

feat: Add Copilot instructions and migrate to PostgreSQL
  .github/ISSUE_TEMPLATE/feature.yml
  .github/copilot-instructions.md
  ARCHITECTURE.md
  README.md
Owners: @CoforgeInsurance/devops-team, @CoforgeInsurance/tech-writers, @CoforgeInsurance/dev-team
